<!DOCTYPE HTML>
<br
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>GitLab to MS Teams Channel Connector</title>
</head>
<html>
<body>
<h1>What is it?</h1>
If you'd like to have GitLab project events (Push, Merge Request, Comment, Wiki Update) published
to a channel on Microsoft Teams, you'll notice that the built-in integration doesn't work.<br/>
At least it doesn't in the versions that I'm working with.<br/>
This service is supposed to help with that.

<h2>Instructions</h2>
<ul>
    <li>
        Add incoming webhook in your MS Teams channel (<a href="https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors#setting-up-a-custom-incoming-webhook">here's how</a>)
    </li>
    <li>
        Create a connector (down below)
    </li>
    <li>
        Add outgoing webhook in your GitLab project (Settings -> Integrations)<br/>
        URL for GitLab webhook:
        <h3 th:text="${postGitlabEventUrl}" >/pushGitlabEvent</h3>
        <h3>In Secret Token field, put your connector's secret.</h3>
    </li>
    <li>
        You can create many connectors, e.g. to send different types of GitLab events to different MS Teams channels.
    </li>
</ul>

<h2>Your connectors</h2>

<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/gitlab}">Login with GitLab</a>
    to create and see your connectors
</div>

<div sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="principal.attributes['email']">Bob</span>
    <br/><br/>
    Your connectors:
    <br/><br/>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>MS Teams Channel URL</th>
            <th>Secret for GitLab webhook</th>
        </tr>

        <tr th:each="c : ${connectors}">
            <td th:text="${c.connectionName}">Name</td>
            <td th:text="${c.msTeamsChannelUrl}">MS Teams Channel URL</td>
            <td th:text="${c.secret}">Secret for GitLab webhook</td>
        </tr>
    </table>
    <br/><br/>
    Would you like to create a new connector?
    <br/><br/>

    <form th:action="@{/createConnector}" method="post">
        <input name="connectionName" type="text" value="Name (e.g. channel name)"/>
        <input name="msTeamsChannelUrl" type="text" value="MS Team Channel URL"/>
        <input type="submit" value="Create connector"/>
    </form>

</div>

<h2>How does it work</h2>
GitLab sends events in <a href="https://docs.gitlab.com/ee/user/project/integrations/webhooks.html">this format</a>,
the connector transforms them to <a href="https://messagecardplayground.azurewebsites.net/">Message Cards</a>, and forwards to your channel.<br/>
Sources available <a href="https://gitlab.com/szczebel/gitlab-ms-teams-connector">here</a>.<br/>
You can report a problem <a href="https://gitlab.com/szczebel/gitlab-ms-teams-connector/issues">here</a>.

<h2>Availability</h2>
No guarantees whatsoever on delivery of your notifications.<br>
This is hosted on Heroku free tier, so the service will sleep and/or be unavailable at random.


</body>
</html>